<h2>Profile</h2>

<div class="field">
  firstname: <%= @user.firstname %><br />
</div>

<div class="field">
  lastname: <%= @user.lastname %><br />
</div>

<div class="field">
  username: <%= @user.username %><br />
</div>

<div class="field">
  email: <%= @user.email %><br />
</div>

<div class="field">
  birthdate: <%= @user.birthdate %><br />
</div>
